<md-card class="row">
  <div class="col">
    <md-card-content>
      <p>{{message.content}}</p>
      <md-card-subtitle>{{message.username}}</md-card-subtitle>
    </md-card-content>
  </div>
  <div class="col justify-content-between">
    <div *ngIf="belongsToUser()">
      <md-card-actions>
        <button md-button (click)="onEdit()">Edit</button>
        <button md-button (click)="onDelete()">Delete</button>
      </md-card-actions>
    </div>
  </div>
</md-card>

<!--<md-card-header>
    <md-card-title>Shiba Inu</md-card-title>
  </md-card-header>-->