body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f7f7f7;
}
a {
  color: #00B7FF;
  cursor: pointer;
}
a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}
a.danger {
  color: tomato;
}
.spacing {
  margin-bottom: 20px;
}
.mt-input {
  width: 100%;
}
.navbar {
  padding: .5rem 0;
}
.nav-link:first-child {
  padding-left: 0
}
button:hover {
  cursor: pointer;
}
button:disabled:hover {
  cursor: not-allowed;
}
.mat-input-element {
  font-size: 1.5rem;
  padding: 0 0.2rem;
}