<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <md-input-container class="mt-input">
    <input mdInput placeholder="First Name" id="firstName" formControlName="firstName">
  </md-input-container>
  <md-input-container class="mt-input">
    <input mdInput placeholder="Last Name" id="lastName" formControlName="lastName">
  </md-input-container>
  <md-input-container class="mt-input">
    <input mdInput placeholder="Email" id="email" formControlName="email">
  </md-input-container>
  <md-input-container class="mt-input">
    <input mdInput placeholder="Password > 8 characters, one lowercase, one uppercase, one number" id="password" formControlName="password">
  </md-input-container>
  <button md-raised-button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
</form>