<div class="row my-3">
  <div class="col">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <md-input-container class="mt-input">
        <input mdInput placeholder="Post a Message" name="content" id="content" class="form-control" [ngModel]="message?.content" required>
      </md-input-container>
      <button type="submit" md-raised-button [disabled]="!f.valid">Submit</button>
      <button type="submit" md-raised-button [disabled]="!f.valid" (click)="onClear(f)">Clear</button>
    </form>
  </div>
</div>