<div class="">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="content">Content</label>
      <input type="hidden" name="username" id="username" class="form-control" [ngModel]="message?.username" value="{{message?.username}}">
      <input type="text" name="content" id="content" class="form-control" [ngModel]="message?.content" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    <button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
  </form>
</div>